<%= render 'shared/navbar' %>
<div class="banner text-center">
  <div class="banner-content">
    <h4>Add a Cocktail</h4>

    <%= render 'form', cocktail: @cocktail %>

    <i class="fas fa-chevron-left" aria-hidden="true">
      <%= link_to "Back to your bar", cocktails_path, class: "link" %>
    </i>
  </div>

</div>
 <%= render 'shared/footer' %>
