<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail_image_path(cocktail) %>')">
 <div class=“card-description”>
   <p><%= link_to cocktail.name%></p>
 </div>
 <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
