<div class="wraper">
  <div class="banner-content">
    <h1>About Monsieur Z</h1>

    <span>
      <%= link_to 'See you soon', cocktails_path, class: 'btn btn-primary' %>
    </span>
  </div>
</div>
