<div class="wraper">
  <div class="banner-content">
    <h1>Monsieur Z</h1>
    <p> Cocktails Creation</p>
    <span>
      <%= link_to 'EXPLORE', cocktails_path, class: 'btn btn-primary' %>
    </span>
  </div>
</div>
